alephium {
  numZerosAtLeastInHash = 0
  blockTargetTime = 4 minutes
  blockConfirmNum = 2
  retargetInterval = 180 // 180 blocks; about 12 hours
}

alephium {
  port = 9973
  port = ${?port}
  groups = 3
  pingFrequency = 300 second
  retryTimeout = 300 second

  nonceStep = 10000
}
