alephium {
  # Alephium's blockchain is sharded, which can be hosted by a single node or multiple nodes
  # We use clique to refer to the set of nodes that are maintaining one copy of Alephium's blockchain
  # When the group number is n, the number of chains is n * n, and the whole blockchain can be hosted
  # on m nodes as long as n % m == 0. Each node is called a broker, with id ranging from 0 to m-1.
  # For example, if broker.groups == 4, then the blockchain can run on 1, 2, or 4 brokers.
  # Where there are 4 brokers, the ids of the brokers are 0, 1, 2, 3.
  # The broker with id 0 is the master broker which will coordinate the bootstrap of the whole clique
  broker {
    # The id of the broker in the clique, ranging from 0 to broker-num-1
    broker-id = 0

    # The number of broker in the clique, assert(groups % broker-num == 0)
    broker-num = 1

    # The number of groups, which is a consensus constant of the network, and should not be changed.
    # Testnet and Mainnet may use different values though
    groups = 4
  }

  consensus {
    block-target-time = 64 seconds
    num-zeros-at-least-in-hash = 24
  }

  network {
    no-pre-mine-proof = [
      "0000000000000000000a4f99913767b9c730d9ce77b2d3238a4d7d169a2fd637", # BTC 703674 block hash
      "9cbbf357f1bc2fd0f3e605748d862f3cdb25d6fe778e17f33e0d42e78a067d52"  # ETH 13359221 block hash
    ]

    leman-hard-fork-timestamp = 1655798400000 // GMT: Tuesday, 21 June 2022 08:00:00
  }

  genesis {
    allocations = [
      {
        address = "1F1pQzx5vNmL7euuKgmwjKtjSS7o43u79WfkC3L3F71vq",
        amount = "1000000000000000000000000",
        lock-duration = 0 seconds
      },
      {
        address = "1q3ba2j5DYVFarrpZbktS6hNqrxbvSAZVAJQMKG5wSMR",
        amount = "1000000000000000000000000",
        lock-duration = 0 seconds
      },
      {
        address = "14PqtYSSbwpUi2RJKUvv9yUwGafd6yHbEcke7ionuiE7w",
        amount = "1000000000000000000000000",
        lock-duration = 0 seconds
      },
      {
        address = "13ZtV3AfsSTT6uqeu482KpBKcCyFKhZwU6vKJwkDaA3TP",
        amount = "500000000000000000000000",
        lock-duration = 0 seconds
      },
      {
        address = "13ZtV3AfsSTT6uqeu482KpBKcCyFKhZwU6vKJwkDaA3TP",
        amount = "500000000000000000000000",
        lock-duration = 3 days
      },
      {
        address = "12KF7RnoDHsXB36pWEpKBMCyqVt66FFpAtrK3NpThWqDn",
        amount = "1000000000000000000000000",
        lock-duration = 0 seconds
      }
    ]
  }
}
