akka {
  loglevel = "DEBUG"
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"

  io.tcp.register-timeout = 1m

  actor {
    default-dispatcher {
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    mining-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    guardian-supervisor-strategy = "org.alephium.util.DefaultStrategy"
  }
}

alephium {
  groups = ${groups}

  clique {
    brokerNum = ${groups}
    brokerNum = ${?brokerNum}
  }

  broker {
    brokerId = ${brokerId}
  }

  consensus {
    numZerosAtLeastInHash = 18
    numZerosAtLeastInHash = ${?zeros}
    blockTargetTime = 4 minutes
    blockConfirmNum = 100
    blockCacheSizePerChain = 25
  }

  mining {
    nonceStep = 10000
  }

  network {
    pingFrequency = 300 second
    retryTimeout = 300 second
    publicAddress = ${publicAddress}
    masterAddress = ${masterAddress}
  }

  discovery {
    peersPerGroup = 16
    scanMaxPerGroup = 8
    scanFrequency = 120.seconds
    scanFastFrequency = 10.seconds
    neighborsPerGroup = 8
  }

  rpc {
    network.interface = "127.0.0.1"
    blockflowFetch.maxAge = 30 minutes
    ask.timeout = 500 millis
  }

  bootstrap=""
  bootstrap = ${?bootstrap}

  genesis = [
    "2db399c90fee96ec2310b62e3f62b5bd87972a96e5fa64675f0adc683546cd1c:100"
  ]
}
