alephium {
  consensus {
    block-cache-capacity-per-chain = 16
  }

  mining {
    api-interface = "127.0.0.1"
    nonce-step = 20000
    batch-delay = 0 milli

    # the polling interval for block templates, when there is no new blocks generated
    polling-interval = 2 seconds
  }

  network {
    max-outbound-connections-per-group = 10
    max-inbound-connections-per-group = 40

    # The frequency at which peers will ping each other to check for liveness.
    ping-frequency = 300 second

    # Timeout for establish a connection with peers
    retry-timeout = 30 second

    # When a node is banned, it will last for 1 day
    ban-duration = 1 day
    # When a node operates properly for a certain period of time, its past penalty will be removed
    penalty-forgiveness = 1 hour
    # When non-critical misbehavior detected, only one penalty applied for a given period
    penalty-frequency = 60 second

    backoff-base-delay = 500 milli
    backoff-max-delay = 8 second
    backoff-reset-delay = 30 second

    # Size of the outbound TCP buffer (in bytes).
    connection-buffer-capacity-in-byte = 100000000

    fast-sync-frequency = 2 second
    stable-sync-frequency = 20 second
    sync-cleanup-frequency = 10 second
    sync-expiry-period = 10 second
    dependency-expiry-period = 10 minute
    update-synced-frequency = 5 second

    txs-broadcast-delay = 5 second

    upnp {
      # Enable UPNnP port forwarding (only works with UPnP compatible routers).
      # Not helpful when you run the node in cloud
      enabled = true
    }

    # The interface to which the TCP and UPD servers will be bound. (use 0.0.0.0 for all interfaces)
    bind-address = "0.0.0.0:9973"

    # Optional public address for the other nodes to find you
    # If the external address is not set and UPnP works, you will get your external address via your IGD
    # If the external address is set and UPnP is enable, UPnP will be ignored
    external-address = null

    # This is the address for the other nodes of your clique to connect to you
    # For example, your clique has 2 nodes in a same LAN, then your 2 nodes can use private addresses to connect to each other
    internal-address  = "127.0.0.1:9973"

    # Each clique has a master node with brokerId == 0, of which the internal-address is the coordinator-address
    coordinator-address    = "127.0.0.1:9973"

    rest-port = 12973
    ws-port = 11973
    miner-api-port = 10973
  }

  discovery {
    scan-frequency = 30 minutes
    scan-fast-frequency = 5.seconds
    fast-scan-period = 1 minute
    neighbors-per-group = 50
  }

  mempool {
    shared-pool-capacity = 1000
    pending-pool-capacity = 1000
    tx-max-number-per-block = 1000
    clean-shared-pool-frequency = 10 minutes
    clean-pending-pool-frequency = 60 minutes
    batch-broadcast-txs-frequency = 500 milli
    batch-download-txs-frequency = 500 milli
  }

  api {
    network-interface = "127.0.0.1"
    blockflow-fetch-max-age = 30 minutes
    ask-timeout = 5 seconds
    api-key = null
    api-key = ${?ALEPHIUM_API_KEY}
    gas-fee-cap = "1000000000000000000"// 1 ALPH
  }

  wallet {
    port = 15973
    secret-dir = ${HOME}"/.alephium-wallets"
    locking-timeout = 10 minutes
  }

  node {
    # a boolean flag to indicate whether a write with rocksdb should be synchronized
    # Note that if it is just the process that crashes (i.e., the machine does not reboot), no writes will be lost even if sync==false
    db-sync-write = false
  }
}

akka {
  loglevel = "DEBUG"
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"

  jvm-shutdown-hooks = off

  io.tcp.register-timeout = 1m

  actor {
    mining-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-min = 1
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    guardian-supervisor-strategy = "org.alephium.util.DefaultStrategy"
  }

  http {
    server {
      websocket {
        periodic-keep-alive-mode = pong
        periodic-keep-alive-max-idle = 30 seconds
      }

      socket-options {
        so-reuse-address = true
      }
    }
  }
}
