akka {
  loglevel = "DEBUG"
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"

  jvm-shutdown-hooks = off

  io.tcp.register-timeout = 1m

  actor {
    default-dispatcher {
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    mining-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    guardian-supervisor-strategy = "org.alephium.util.DefaultStrategy"
  }
}

alephium {
  groups = 4

  clique {
    brokerNum = 2
  }

  broker {
    brokerId = 0
  }

  consensus {
    numZerosAtLeastInHash = 12
    blockTargetTime = 2 minutes
    tipsPruneInterval = 100
    blockCacheCapacityPerChain = 25
  }

  mining {
    nonceStep = 10000
  }

  network {
    pingFrequency = 300 second
    retryTimeout = 300 second
    masterAddress = "localhost:9973"
    publicAddress = "localhost:9972"
    numOfSyncBlocksLimit = 128

    rpcPort = 0
    rpcPort = ${?rpcPort}
    wsPort = 0
    wsPort = ${?wsPort}
  }

  discovery {
    peersPerGroup = 16
    scanMaxPerGroup = 8
    scanFrequency = 120.seconds
    scanFastFrequency = 10.seconds
    neighborsPerGroup = 8
  }

  rpc {
    network.interface = "127.0.0.1"
    blockflowFetch.maxAge = 30 minutes
    ask.timeout = 5 seconds
  }

  bootstrap=""
  bootstrap = ${?bootstrap}

  genesis = [
    "9f93bf7f1211f510e3d9c4fc7fb933f94830ba83190da62dbfc9baa8b0d36276:100",
    "6d084b24287fa0ad939c689fbcf76ec9b750520cc2c2637a9055bac83e6277a2:100",
    "b0127f073f368d08a1c5a99f22700005a24fcfb2f80da2b6e5b0522bdc14d319:100",
    "e182ab49b600944362308ce7d502b965394327aee6997a2012a88453c71ccb4f:100",
  ]
}

