alephium {
  numZerosAtLeastInHash = 0
  blockTargetTime = 4 minutes
  blockConfirmNum = 2

  port = 9973
  port = ${?port}
  groups = 3
  pingFrequency = 300 second
  retryTimeout = 300 second

  nonceStep = 10000

  mainGroup = 0
  mainGroup = ${?mainGroup}

  discovery {
    publicAddress = "localhost"
    publicAddress = ${?publicAddress}
    udpPort = ${alephium.port}
    peersPerGroup = 16
    scanMaxPerGroup = 8
    scanFrequency = 120.seconds
    scanFastFrequency = 10.seconds
    neighborsPerGroup = 8
  }

  rpc {
    network.interface = "127.0.0.1"
    blockflowFetch.maxAge = 30 minutes
  }

  bootstrap=""
  bootstrap = ${?bootstrap}
}

nonces = [3,16,9,6,0,1,2,8,23]

