akka {
  loglevel = "DEBUG"
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"

  jvm-shutdown-hooks = off

  io.tcp.register-timeout = 1m

  actor {
    default-dispatcher {
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    mining-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    guardian-supervisor-strategy = "org.alephium.util.DefaultStrategy"
  }
}

alephium {
  groups = ${groups}

  clique {
    brokerNum = ${groups}
    brokerNum = ${?brokerNum}
  }

  broker {
    brokerId = ${brokerId}
  }

  consensus {
    numZerosAtLeastInHash = 18
    numZerosAtLeastInHash = ${?zeros}
    blockTargetTime = 2 minutes
    tipsPruneInterval = 100
    blockCacheCapacityPerChain = 25
  }

  mining {
    nonceStep = 10000
  }

  network {
    pingFrequency = 300 second
    retryTimeout = 300 second
    publicAddress = ${publicAddress}
    masterAddress = ${masterAddress}
    numOfSyncBlocksLimit = 128

    rpcPort = 0
    rpcPort = ${?rpcPort}
    wsPort = 0
    wsPort = ${?wsPort}
  }

  discovery {
    peersPerGroup = 16
    scanMaxPerGroup = 8
    scanFrequency = 120.seconds
    scanFastFrequency = 10.seconds
    neighborsPerGroup = 8
  }

  rpc {
    network.interface = "127.0.0.1"
    blockflowFetch.maxAge = 30 minutes
    ask.timeout = 5 seconds
  }

  bootstrap=""
  bootstrap = ${?bootstrap}

  genesis = [
    "4b67a9704059abf76b5d75be94b0d16a85dd66d7dc106fcc2dd200bab0f45f77:100"
  ]
}
