alephium {
  groups = 3

  clique {
    brokerNum = 3
  }

  broker {
    brokerId = 0
  }

  consensus {
    numZerosAtLeastInHash = 0
    blockTargetTime = 4 minutes
    blockConfirmNum = 2
    blockCacheSizePerChain = 4
  }

  mining {
    nonceStep = 10000
  }

  network {
    pingFrequency = 300 second
    retryTimeout = 300 second
    publicAddress = "localhost:9973"
    masterAddress = "localhost:9972"
    numOfSyncBlocksLimit = 4

    rpcPort = 10973
    wsPort = 11973
  }

  discovery {
    peersPerGroup = 16
    scanMaxPerGroup = 8
    scanFrequency = 120.seconds
    scanFastFrequency = 10.seconds
    neighborsPerGroup = 8
  }

  rpc {
    network.interface = "127.0.0.1"
    blockflowFetch.maxAge = 30 minutes
    ask.timeout = 500 millis
  }

  bootstrap=""
  bootstrap = ${?bootstrap}

  genesis = [
    "4b67a9704059abf76b5d75be94b0d16a85dd66d7dc106fcc2dd200bab0f45f77:100"
  ]
}
