akka {
  loglevel = "DEBUG"
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"

  jvm-shutdown-hooks = off

  io.tcp.register-timeout = 1m

  actor {
    default-dispatcher {
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    mining-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }

    guardian-supervisor-strategy = "org.alephium.util.DefaultStrategy"
  }

  http {
    server {
      websocket {
        periodic-keep-alive-mode = pong
        periodic-keep-alive-max-idle = 30 seconds
      }
    }
  }
}

alephium {
  broker {
    groups = 4
    broker-num = 2
    broker-id = 0
  }

  consensus {
    num-zeros-at-least-in-hash = 12
    block-target-time = 2 minutes
    tips-prune-interval = 100
    block-cache-capacity-per-chain = 25
  }

  mining {
    nonce-step = 10000
  }

  network {
    ping-frequency = 300 second
    retry-timeout = 30 second

    upnp {
      enabled = false
    }

    bind-address = "localhost:9972"
    external-address = "localhost:9972"
    internal-address = "localhost:9972"
    master-address = "localhost:9973"
    num-of-sync-blocks-limit = 128

    rpc-port = 0
    rpc-port = ${?RPC_PORT}
    ws-port = 0
    ws-port = ${?WS_PORT}
    rest-port = 0
    rest-port = ${?REST_PORT}
  }

  discovery {
    bootstrap = []
    bootstrap = ${?BOOTSTRAP}

    peers-per-group = 16
    scan-max-per-group = 8
    scan-frequency = 120.seconds
    scan-fast-frequency = 10.seconds
    neighbors-per-group = 8
  }

  api {
    network-interface = "127.0.0.1"
    blockflow-fetch-max-age = 30 minutes
    ask-timeout = 5 seconds
    api-key-hash = ${?API_KEY_HASH}
  }

  mempool {
    tx-pool-capacity = 1000
    tx-max-number-per-block = 1000
  }

  genesis = {
    balances = [
      "16xrcCkHtAcrgpcDkXSU2zvSWdRGtkjKzSaP1DxjcxKCe:100",
      "1AEXDEwHCX2sbSBWk77Zt63q3gQodLjFG34Dh8LEgHsHZ:100",
      "1HM49LXE2NTYynenLqmzT7EQG37FHWcziv9kDJ4cefg3L:100",
      "1B5EXqwPU89Zju6YqX9eqAXxTvNyp6xdY6VjXAhhQPytp:100"
    ]
  }
}

