alephium {
  broker {
    groups = 3
    broker-num = 3
    broker-id = 0
  }

  consensus {
    num-zeros-at-least-in-hash = 0
    tips-prune-interval = 2
    block-cache-capacity-per-chain = 4
  }

  mining {
    nonce-step = 400
  }

  network {

    network-type = "devnet"

    ping-frequency = 300 second
    retry-timeout = 30 second

    upnp {
      enabled = false
    }

    bind-address = "127.0.0.1:9973"
    external-address = "127.0.0.1:9973"
    internal-address = "127.0.0.1:9973"
    coordinator-address = "127.0.0.1:9972"
    num-of-sync-blocks-limit = 4

    rpc-port = 10973
    ws-port = 11973
    rest-port = 12973
  }

  discovery {
    bootstrap = []
    bootstrap = ${?BOOTSTRAP}

    peers-per-group = 16
    scan-max-per-group = 8
    scan-frequency = 120.seconds
    scan-fast-frequency = 10.seconds
    neighbors-per-group = 8
  }

  api {
    network-interface = "127.0.0.1"
    blockflow-fetch-max-age = 30 minutes
    ask-timeout = 5 seconds
  }

  mempool {
    tx-pool-capacity = 1000
    tx-max-number-per-block = 1000
  }

  wallet {
    port = 15973
    secret-dir = ""
  }
}

akka {
  actor {
    mining-dispatcher {
      type = Dispatcher
      executor = "fork-join-executor"
      fork-join-executor {
        parallelism-factor = 0.5
      }
      throughput = 1
    }
  }

  http {
    server {
      websocket {
        periodic-keep-alive-mode = pong
        periodic-keep-alive-max-idle = 30 seconds
      }
    }
  }
}
