name: Publish Docker image

on:
  push:
    branches: [ master ]
    tags: [ "v[0-9]+.[0-9]+.[0-9]+*" ]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: olafurpg/setup-scala@v10
        with:
          java-version: 11
      - run: sbt app/docker
        shell: bash
